<%= render "layouts/header" %>
<article class="post">
<header class="post-header">
<span class="post-meta">
  <time datetime="2014-07-18">18 July 2014</time>
</span>
<h2 class="post-title">
  <%= link_to "This is Joey", blogs_path %>
</h2>
</header>
<section class="post-excerpt">
<p>
Hi, this is Joey! Born in China and living in US. I graduated from George Washington University with a Masters degree in Computer Science in May 2014. I made my decision to come to the bay area after that. A new adventure is about to begin...
</p>
</section>
</article>

