html, body{
  padding:0;
  margin:0 !important;
  height:100%;
  font-family: 'Noto Serif', serif;
}
td{
  padding:0 40px;
}
.site-head{
  display:table;
  position:relative;
  text-align:center;
  margin-bottom:5rem;
  width:100%;
  height:60%;
  color:#eeeff2;
  background:#303538 no-repeat center center;
  background-size:cover;
  background-image:url("purplebeach.JPG");
}
.vertical {
  display: table-cell;
  vertical-align: middle;
}
.inner {
  position: relative;
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}
.head-title{
  margin:0 auto;
}
.blog-title {
  margin: 10px 0 10px 0;
  font-size: 5rem;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0 1px 6px rgba(0,0,0,0.1);
} 
.blog-description {
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.5em;
  font-weight: 300;
  font-family: 'Noto Serif', serif;
  letter-spacing: 0;
  text-shadow: 0 1px 3px rgba(0,0,0,0.15);
}
.post-excerpt p {
  margin: 1.6rem 0 0 0;
  line-height: 1.6em;
}
.post {
  position: relative;
  width:80%;
  max-width: 700px;
  margin: 4rem auto;
  padding-bottom: 4rem;
  border-bottom: #EBF2F6 1px solid;
  word-break: break-word;
  hyphens: auto;
}
.site-footer {
  position: relative;
  margin: 8rem 0 0 0;
  padding: 4rem 0;
  border-top: #EBF2F6 1px solid;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.7em;
  color: #BBC7CC;
  text-align: center;
  background: #F7FAFB;
  text-align:center;
}
.footer-list{
  display:inline-block;
  max-width:700px;
  margin: 0 auto;
  padding:0;
}
.footer-list li{
  float:left;
  margin:0 20px;
  list-style:none;
}
textarea{
  min-height:300px;
  min-width:500px;
}
