<footer class="site-footer">
  <h2>Connecting with me</h2>
  <ul class="footer-list">
    <li><%=link_to image_tag("webicon-facebook.png"),"https://www.facebook.com/jeffrey.hu.3956" %></li>
    <li><%=link_to image_tag("webicon-linkedin.png"),"http://www.linkedin.com/pub/joey-hu/69/854/14/" %></li>
    <li><%=link_to image_tag("webicon-github.png"),"https://github.com/hujunyi" %></li>
    <li><%=link_to image_tag("webicon-twitter.png"),"https://twitter.com/joeyhuinstates" %></li>
  </ul>
</footer>
